
body {
  font: "Trebuchet MS", Arial, sans-serif;
  background: url(../images/bg.png) repeat-x;
}

.signup {
  margin: 3% auto 0;
  padding:1%;
}

.buttonarea {
  margin-left:20%;
}

.buttonarea input {   
  background-color: gray;
  color: white;   
  font-weight: bold;   
  padding: .5%;  
}

.validationError {
  color: white !important;
  background-color:gray !important;
}
   
.ui-state-error {
  font-size: 1em;
  color: gray;
  font-weight: bold;
  background-color:transparent;
  border-color:transparent;
}